In [1]:
import pandas as pd
import sqlalchemy as sql

def call_procedure(function_name, params):
    
    connection = sql.create_engine('mysql://root:@localhost/hotel-reviews?charset=utf8').raw_connection()
    try:
        cursor = connection.cursor()
        cursor.callproc(function_name, params)
        results = list(cursor.fetchall())
        cursor.close()
        connection.commit()
        return results
    finally:
        connection.close()

In [6]:
# a = call_procedure('getReviews', [100000, 1])
a = pd.DataFrame(call_procedure('getReviews', [100000, 1]), columns=['id', 'content', 'positive'])

           id                                            content  positive
0      387850   Only the park outside of the hotel was beauti...         1
1      387851   No real complaints the hotel was great great ...         1
2      387852   Location was good and staff were ok It is cut...         1
3      387853   Great location in nice surroundings the bar a...         1
4      387854    Amazing location and building Romantic setting          1
...       ...                                                ...       ...
99995  487845   Could not fault the hotel Well looked after b...         1
99996  487846            One of the best hotels I have stayed in         1
99997  487847                       Service and staff were great         1
99998  487848   Staff is extremely helpful Room is very comfo...         1
99999  487849   Friendly staff mood lighting in the rooms and...         1

[100000 rows x 3 columns]